#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    combos {
        compatible = "zmk,combos";

        combo_tab {
            bindings = <&kp TAB>;
            key-positions = <0 1>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        main {
            bindings = <
&kp ESC    &kp Q  &kp W  &kp E  &kp R     &kp T                                                    &kp Y        &kp U     &kp I     &kp O     &kp P     &kp BSPC
&kp LCTRL  &kp A  &kp S  &kp D  &kp F     &kp G                                                    &kp H        &kp J     &kp K     &kp L     &kp SEMI  &kp SQT
&kp LSHFT  &kp Z  &kp X  &kp C  &kp V     &kp B        &kp N                            &kp M      &kp COMMA    &kp DOT   &kp FSLH  &kp LBKT  &kp RBKT  &kp BSLH
                                &kp LALT  &lt 1 LG(C)  &kp SPACE  &kp RGUI    &kp RGUI  &kp SPACE  &lt 1 LG(V)  &kp LALT
            >;
        };

        num-fn {
            bindings = <
&kp ESC         &kp F1  &kp F2  &kp F3  &kp F4  &kp F5                                                 &kp F6            &kp F7             &kp F8    &kp F9     &kp F10  &kp DEL
&kp TILDE       &kp N1  &kp N2  &kp N3  &kp N4  &kp N5                                                 &kp N6            &kp N7             &kp N8    &kp N9     &kp N0   &trans
&kp LEFT_SHIFT  &trans  &trans  &trans  &trans  &trans  &trans                             &mkp LCLK   &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp PIPE  &bl BL_ON  &trans   &bt BT_CLR_ALL
                                        &trans  &trans  &trans  &trans    &rgb_ug RGB_TOG  &sys_reset  &trans            &trans
            >;
        };
    };
};
